<!doctype html>
<html>
<head>
    <title id="title">{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<h1 id="header">Lanners' Hobbies - {{title}}</h1>
<nav>
    <ul>
        <li id="home"><a href="/">Home</a></li>
        <li id="books"><a href="books">Books</a></li>
        <li id="board-games"><a href="board-games">Board Games</a></li>
        <li id="painting"><a href="painting">Painting</a></li>
    </ul>
</nav>
{{{body}}}

<script src="/js/main.js"></script>
</body>
</html>