<h2 class="game-quote">"When playing a game, the goal is to win, but it is the goal that is important, not the winning."
    - Reiner Knizia</h2>
<h2 class="game-quote">"If you're not prepared to lose every friend you have over a board game, you're not playing hard
enough." - Anonymous</h2>

<h2 style="text-align: center">A Hobby? Or an Obsession?</h2>
<p class="intro">Several years ago, I had a friend who worked at a comic book/board game shop. These had been rare in my town for many
years, with several shops opening and going out of business through my childhood. While I was in college and starting my
career, I found myself spending a lot of time at this shop with this and other friends. It was here that I was introduced
to the excellent rabbit-hole that is hobby board gaming. Now, obviously, I had played games before: Monopoly, Risk, Clue,
and the like. I had even had a chance to dabble in more niche games like Axis &amp Allies and SET. However, there was this
world of hobby gaming that had eluded me. With these friends, and in this unique time in my life, I fell in love with games
like Arkham Horror, Pandemic, and Carcassonne. These games, and others like them, offer experiences unlike any other.
They offer the opportunity to create new stories with friends, to stretch one's imagination and
mental prowess to their limits. I love this hobby. It is truly a unique experience.</p>
<br />
<h3 style="text-align: center">The Collection</h3>
<p class="intro">Below is a summary of my current board game collection.<br> This is, by no means, an exhaustive list.
    Rather a list of some of the most interesting in my collection. <br>Along with each title, you'll find a link to its page on
    BoardGameGeek.com, the Internet's most comprehensive board game resource database and community, should you wish to
know more.</p>
<div id="scrollbar">
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/68448/7-wonders">7 Wonders</a></td>
            <td>City Building</td>
            <td>Repos</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/257499/arkham-horror-third-edition">Arkham Horror, 3rd edition</a></td>
            <td>Horror</td>
            <td>Fantasy Flight Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/10093/axis-allies">Axis &amp Allies</a></td>
            <td>Wargame</td>
            <td>Avalon Hill</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/10547/betrayal-house-hill">Betrayal at House on the Hill</a></td>
            <td>Horror</td>
            <td>Avalon Hill</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/238992/call-adventure">Call to Adventure</a></td>
            <td>Card Game - RPG</td>
            <td>Brotherwise Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/822/carcassonne">Carcassonne</a></td>
            <td>Tile Laying</td>
            <td>Z-Man Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/197376/charterstone">Charterstone</a></td>
            <td>Legacy - Worker Placement</td>
            <td>Stonemeier Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/478/citadels">Citadels</a></td>
            <td>Card - City Building</td>
            <td>Fantasy Flight Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/104162/descent-journeys-dark-second-edition">Descent: Journeys in the Dark, 2nd edition</a></td>
            <td>Story-based Campaign</td>
            <td>Fantasy Flight Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/194594/dice-forge">Dice Forge</a></td>
            <td>Dice</td>
            <td>Libellud</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/100423/elder-sign">Elder Sign</a></td>
            <td>Dice - Horror</td>
            <td>Fantasy Flight Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/128565/evil-baby-orphanage">Evil Baby Orphanage</a></td>
            <td>Card</td>
            <td>Wyrd Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/155703/evolution">Evolution</a></td>
            <td>Strategy</td>
            <td>North Star Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/201825/ex-libris">Ex Libris</a></td>
            <td>Worker Placement</td>
            <td>Renegade Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/175324/fog-love">Fog of Love</a></td>
            <td>Storytelling</td>
            <td>Hush Hush Projects</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/214032/founders-gloomhaven">Founders of Gloomhaven</a></td>
            <td>City Building</td>
            <td>Cephalofair Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/174430/gloomhaven">Gloomhaven</a></td>
            <td>Story-based Campaing - RPG</td>
            <td>Cephalofair Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/116/guillotine">Guillotine</a></td>
            <td>Card</td>
            <td>Wizards of the Coast</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/164153/star-wars-imperial-assault">Imperial Assault</a></td>
            <td>Story-based Campaign</td>
            <td>Fantasy Flight Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/59959/letters-whitechapel">Letters from Whitechapel</a></td>
            <td>Hidden Movement</td>
            <td>Fantasy Flight Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/136991/loony-quest">Loony Quest</a></td>
            <td>Drawing</td>
            <td>Libellud</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/143884/machi-koro">Machi Koro</a></td>
            <td>Gambling</td>
            <td>IDW Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/129437/legendary-marvel-deck-building-game">Legendary: A Marvel Deck Building Game</a></td>
            <td>Deck Building</td>
            <td>Upper Deck Entertainment</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/124708/mice-and-mystics">Mice and Mystics</a></td>
            <td>Story-based Campaing</td>
            <td>Plaid Hat Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/181304/mysterium">Mysterium</a></td>
            <td>Mystery</td>
            <td>Libellud</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/194607/mystic-vale">Mystic Vale</a></td>
            <td>Deckbuilding - Cardbuilding</td>
            <td>AEG</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/30549/pandemic">Pandemic</a></td>
            <td>Action Management</td>
            <td>Asmodee Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/2651/power-grid">Power Grid</a></td>
            <td>Strategy</td>
            <td>2F-Spiele</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/244521/quacks-quedlinburg">Quacks of Quedlinburg</a></td>
            <td>Press Your Luck</td>
            <td>North Star Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/1198/set">SET</a></td>
            <td>Pattern Recognition</td>
            <td>SET Enterprises</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/40692/small-world">Small World</a></td>
            <td>Area Control</td>
            <td>Days of Wonder</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/161614/stockpile">Stockpile</a></td>
            <td>Strategy</td>
            <td>Nauvoo Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/264220/tainted-grail-fall-avalon">Tainted Grail: The Fall of Avalon</a></td>
            <td>Survival</td>
            <td>Awaken Realms</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/34119/tales-arabian-nights">Tales of the Arabian Nights</a></td>
            <td>Storytelling</td>
            <td>Z-Man Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/27627/talisman-revised-4th-edition">Talisman</a></td>
            <td>Fantasy Adventure</td>
            <td>Fantasy Flight Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/255907/trogdor-board-game">Trogdor!!</a></td>
            <td>Co-op Burnination</td>
            <td>The Brothers Chaps</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/115746/war-ring-second-edition">War of the Ring</a></td>
            <td>Wargame</td>
            <td>Ares Games</td>
        </tr>
        <tr>
            <td><a href="https://boardgamegeek.com/boardgame/233867/welcome">Welcome To...</a></td>
            <td>Roll and Write</td>
            <td>Deep Water Games</td>
        </tr>
        </tbody>
    </table>
</div>
