<h2 class="game-quote">"When playing a game, the goal is to win, but it is the goal that is important, not the winning."
    - Reiner Knizia</h2>
<h2 class="game-quote">"If you're not prepared to lose every friend you have over a board game, you're not playing hard
enough." - Anonymous</h2>

