<h2 id="bookQuote">"Fools have a habit of believing that everything written by a famous author is admirable.<br>For my part, I read only
to please myself and like only what suits my taste." - Voltaire</h2>
<p class="intro">Much like Voltaire, I have a particular taste in literature. I do not have a great love for non-fiction books, nor
am I too jazzed about real-world fiction. If I'm reading, it's usually because I want to escape the mundanity of life.
For me, fantasy and science fiction are the genres of choice. I love imagining new worlds and types of people and I find
that these oft-maligned genres explore the same themes and issues that "more respectable" books do, often to a greater degree.</p>
<br />
<h3 id="reviewHeading">Favorite Reviews</h3>
<p class="intro">Below are some of my favorite books/series. I've included a short review with each. <br>If any of these spark your interest,
or if you'd like more suggestions, you can download a reading list curated by myself <a href="/files/reading-list.pdf" download>here.</a></p>
<br />
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/pics/mistborn.jpg" alt="Mistborn" style="max-height:750px;display:block;margin:auto">
            <div class="container">
                <h2>Mistborn</h2>
                <p class="author">Brandon Sanderson</p>
                <p><i>Mistborn</i> was a life-changer for me. Never before had I read a story so enthralling, with characters
                so well written. Every character is unique and memorable and act like real people would in their place.
                The magic system is so unique and flesh-out that it feels real. This first book is a landmark in fantasy
                literature, but the following books in the series are just as excellent. Sanderson has a unique gift to
                realize excellent characters, beautiful systems, and worlds that evolve and progress through the story naturally.
                    He is easily one of my favorite authors and <i>Mistborn</i> is one of my favorite books of all time.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/pics/LOTR.jpg" alt="Lord of the Rings" style="max-height:750px;display:block;margin:auto">
            <div class="container">
                <h2>Lord of the Rings</h2>
                <p class="author">J.R.R. Tolkien</p>
                <p>What can I say about the father of all modern fantasy that hasn't already been said? Tolkien's <i>Lord of
                the Rings</i> is a power-house of excellence. Though I did not read the books until after I had seen
                Peter Jackson's film adaptaion of the first part, after I had, I was hooked. <i>Lord of the Rings</i> is,
                 quite possibly, my favorite franchise of all time and holds a dear place in my heart, even after two decades.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/pics/dune.jpg" alt="Dune" style="max-height:750px;display:block;margin:auto">
            <div class="container">
                <h2>Dune</h2>
                <p class="author">Frank Herbert</p>
                <p><i>Dune</i> is a book that I really wish more people would read. So many pass it by because it holds
                 the label of "Science Fiction." It is so much more than that. A sprawling epic, larger even than Tolkien's
                masterpiece, <i>Dune</i> explores the political intrigue, drama, and betrayal surrounding the galaxy's most
                important planet and its most valuable resource. With prose that makes one feel as if one is actually on
                a desert planet, Frank Herbert immerses the reader in his universe. Truly a masterpiece.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/pics/covenant.jpg" alt="Thomas Covenant" style="max-height:750px;display:block;margin:auto">
            <div class="container">
                <h2>The Chronicles of Thomas Covenant, the Unbeliever</h2>
                <p class="author">Stephen R. Donaldson</p>
                <p>The Thomas Covenant books are difficult. I would gladly recommend them to anyone, with the warning that
                they are thick. Not necessarily page-wise, but content-wise. Donaldson does very little to ease the reader
                into the baffling world of The Land. We follow Thomas Covenant, a leper in the "real" world who is
                transported to the fantastical world of The Land, a place where health can be seen and hear, and evil is
                tangible. Covenant, impotent in our world, finds that he holds great power in The Land, though he can not
                control it. This place of unreal vitality presses on his sanity as he tries to cope with the reality of
                his illness and the paradox of The Land. It is a unique blend of fantasy and psychological exploration.</p>
            </div>
        </div>
    </div>
</div>