<h1>Greetings!</h1>
<br />
<p>My name is Nick Lanners. I currently teach music (band and choir) at a middle school in Southern Utah. This is a small
project for a Web Development class I am taking towards a second degree in Computer Science. The specific purpose of this
site is to portray and share some of my interests and hobbies.</p>
<br />
<h2>Inspiration for the Site</h2>
<p>In early 2021, I was catching up with a friend that I hadn't seen for several months. As we were talking, she mentioned
that one of our mutual friends had recommended a game to her, that I had originally recommended to him. She thoroughly enjoyed
it and reflected upon the fact that she had enjoyed many of my suggestions over the years. She described me as a "nerdy
Oprah" and jokingly asked that I create a list each year of my under-the-radar favorites. We had a good chuckle. When
given the task of creating my own website, this story immediately jumped to my brain. So, here we are. Currently, I will be
presenting my favorite books and board games, as well as showcasing a hobby I've fallen into in the last few years:
miniature painting. I hope you find something new that you can enjoy, too!</p>
<br />
<h3>Some Highlights</h3>
<!-- Slideshow container -->
<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="/pics/WotR_setup.jpg" style="max-width:100%;max-height:1000px">
    </div>
    <div class="mySlides fade">
        <img src="/pics/Theoden.jpg" style="max-width:100%;max-height:1000px">
    </div>
    <div class="mySlides fade">
        <img src="/pics/Air_speeder.jpg" style="max-width:100%;max-height:1000px">
    </div>
    <div class="mySlides fade">
        <img src="/pics/Darth_Vader.jpg" style="max-width:100%;max-height:1000px">
    </div>

    <!--Next and previous buttons-->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!--Dots-->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div>
