<h2 style="text-align: center">"People have a real love of looking at small worlds - <br>something inside them is
innately attracted to that 'miniature' realm." - John Lasseter</h2>

<div id="projectIntro">
    <div id="picIntro">
        <p class="intro">I fell into the miniature painting hobby a couple years after becoming enamoured with board games.
        The two hobbies do seem to go hand-in-hand. I had played a demo game of Talisman, at our local board game store, which
        someone had painted all the miniature player figures. Not knowing someone had painted them after-the-fact, I bought my
        own copy of the game and was slightly disappointed that they were all boring, grey plastic. So, I decided to take the
        plunge and try my hand at painting. The first figures I painted were the toad miniatures from that Talisman set. Soon after,
        my roommate convinced me to start playing Warhammer 40,000, a miniature wargame that is often described as a "whole hobby,"
        requiring modelling, painting, and playing the game. While working on my starter set, I found the painting part to be my
        favorite. Sitting at the painting table, with an audiobook or some music playing, is wonderfully relaxing. I still don't
        think I'm that great, but I have definitely improved over the years and claim miniature painting as one of my main
        pastimes.</p>
    </div>

    <div id="project">
        <h4>Current Project:</h4>
        <h5>Riders of Rohan</h5>
        <div id="progress">
            <div id="bar">33.3%</div>
        </div>
    </div>
</div>

<div class="picRow">
    <div class="picColumn">
        <img src="/pics/Air_speeder.jpg" alt="Air Speeder" onclick="picFunction(this);">
    </div>
    <div class="picColumn">
        <img src="/pics/Darth_Vader.jpg" alt="Darth Vader" onclick="picFunction(this);">
    </div>
    <div class="picColumn">
        <img src="/pics/Descent_heroes.jpg" alt="Descent Heroes" onclick="picFunction(this);">
    </div>
    <div class="picColumn">
        <img src="/pics/Descent_monsters_1.jpg" alt="Descent Monsters Group 1" onclick="picFunction(this);">
    </div>
    <div class="picColumn">
        <img src="/pics/Descent_monsters_2.jpg" alt="Descent Monsters Group 2" onclick="picFunction(this);">
    </div>
    <div class="picColumn">
        <img src="/pics/Descent_monsters_3.jpg" alt="Descent Monsters Group 3" onclick="picFunction(this);">
    </div>
    <div class="picColumn">
        <img src="/pics/Imperial_Assault_enemies.jpg" alt="Imperial Assault Enemies" onclick="picFunction(this);">
    </div>
    <div class="picColumn">
        <img src="/pics/Theoden.jpg" alt="Theoden" onclick="picFunction(this);">
    </div>
    <div class="picColumn">
        <img src="/pics/Rebel_Trooper_blue_orange.jpg" alt="Rebel Troopers" onclick="picFunction(this);">
    </div>
    <div class="picColumn">
        <img src="/pics/Sammael.jpg" alt="Sammael" onclick="picFunction(this);">
    </div>
</div>

<div class="picsContainer">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

    <img id="expandedImg" style="width:100%">

    <div id="imgtext"></div>
</div>