* {
    box-sizing:border-box;
    font-family: Verdana, Arial, sans-serif
}

p.intro {
    margin: 0 100px 25px 100px;
    text-align: center;
}

/* Navigation Bar */
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

li {
    float: left;
}

ul {
    background-color: dimgrey;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    text-align: center;
    padding: .5vw 2vw;
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-family: Verdana, Arial, sans-serif;
}

li a:hover {
    background-color: #454545;
    color: skyblue;
}

#header {
    font-family: Verdana, Arial, sans-serif;
    background-color: #454545;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 6vh;
}

.active {
    background-color: black;
}

#picCarouselTitle {
    text-align: center;
}

/* slideshow container */
.slideshow-container {
    max-width: 1000px;
    width: max-content;
    position: relative;
    margin: auto;
}

/* hide images by default */
.mySlides {
    display: none;
}

/* Next and previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* next button position */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* on hover, add black background with see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activeDot, .dot:hover {
    background-color: #717171;
}

/* fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* books page */
#bookQuote {
    text-align: center;
}

#reviewHeading {
    text-align: center;
}

/* reviews grid */
.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.author {
    color: dimgrey;
}

/* board game page */

.game-quote {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#scrollbar {
    height: 350px;
    overflow: auto;
    max-width: fit-content;
    text-align: center;
    margin: auto;
}

/* image gallery */
.picColumn {
    float: left;
    width: 10%;
    padding: 10px;
}

.picColumn img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
}

.picColumn img:hover {
    opacity: 1;
}

.picRow:after {
    content:"";
    display: table;
    clear: both;
}

.picsContainer {
    position: relative;
    display: none;
    max-width: 70%;
    width: max-content;
    margin: auto;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#progress {
    width: 100%;
    background-color: grey;
}

#bar {
    width: 33.3%;
    height:30px;
    background-color: skyblue;
    text-align: center;
    line-height: 30px;
    color: black;
}

#picIntro {
    width: 50%;
    float: left;
}

#project {
    width: 50%;
    float: left;
    text-align: center;
}

#projectIntro {
    display: flex;
}

